*{
    font-family: 'Poppins', sans-serif;
}

.app{
    background-color: white;
}

.jumbotron{
    margin-top: -50px !important;
    padding: 80px 0px 0px 0px;
    height: 400px;
    background-image: url('https://images.unsplash.com/photo-1557691213-8cbf9866d933?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.logo{
    width: 100px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

.auth-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.auth-kanan{
    width: 100vw;
}

.auth-image{
   background-image: url('../img/auth.jpg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position-x: center;
   height: 500px;
   margin-bottom: 30px;
}

footer{
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    margin: 0px !important;
}

@media (min-width: 768px) {
    .jumbotron{
        margin-top: -100px !important;
        padding: 300px 0px 0px 0px;
        height: 900px;
        background-image: url('https://images.unsplash.com/photo-1557691213-8cbf9866d933?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-align: start;
        margin-bottom: 0px;
    }

    .header{
        font-weight: bold;
        font-size: 60px;
    }

    .logo{
        width: 150px;
    }

    .auth-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .auth-kanan{
        width: 50vw;
    }
    
    .auth-kiri{
        width: 50vw;
    }
    
    .auth-image{
       height: 900px;
    }

    .nav{
        color: white;
        margin-right: 30px;
        margin-top: 6px;
    }

    .img-fluid{
        width: 50%;
    }
    
    footer{
        bottom: 0;
        width: 100%;
        background-color:black;
        color: white;
    }
}